[submodule "apps/flexpy"]
	path = apps/flexpy
	url = git@github.com:BondMachineHQ/flexpy.git
[submodule "apps/simbatch"]
	path = apps/simbatch
	url = git@github.com:BondMachineHQ/simbatch.git
[submodule "apps/bmhelper"]
	path = apps/bmhelper
	url = git@github.com:BondMachineHQ/bmhelper.git
[submodule "apps/bmregression"]
	path = apps/bmregression
	url = git@github.com:BondMachineHQ/bmregression.git
[submodule "apps/flexpytester"]
	path = apps/flexpytester
	url = git@github.com:BondMachineHQ/flexpytester.git
[submodule "apps/pybondmachine"]
	path = apps/pybondmachine
	url = git@github.com:BondMachineHQ/pybondmachine.git
[submodule "apps/bitcache"]
	path = apps/bitcache
	url = git@github.com:BondMachineHQ/bitcache.git
[submodule "apps/bwasm"]
	path = apps/bwasm
	url = git@github.com:BondMachineHQ/bwasm.git
